.home-page{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.home-btn{
    width: 250px;
    height: 250px;
    border: 1px solid #4F6073;
    background: #F7F6F7;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}