.JobBody {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header {
  background-color: bisque;
  width: 100vw;
  height: 60px;
}

.mainbody {
  display: flex;
  width: 100vw;
}

.filter {
  width: 30%;
  background-color: aqua;
  height: 100vh;
}

.footer {
  background-color: bisque;
  width: 100vw;
  height: 60px;
}
